language: python

python:
  - "3.3"
  - "3.4"


install:
  - "pip install --quiet coveralls"
  - "pip install --quiet -r requirements/local.txt"

script: coverage run --source=cuble --omit="cuble/suit/*","*/migrations/*" ./cuble/manage.py test cuble/ --settings=cuble.settings.test

after_success:
  - coveralls