{% extends "projects/base.html" %}
{% load i18n %}
{% load static %}
{% load thumbnail %}

{% block main_content %}
    <div class="row project-header">
        <div class="col-md-5">
            <h2 class="black">{{ project.title }}</h2>
            <p>
                <ul class="list-special">
                {% for tag in project.tags.all %}
                    <li><a href="{% url "projects_tag" slug=tag.slug %}">{{ tag.name }}</a></li>
                {% endfor %}
                </ul>
            </p>
        </div>
        <div class="col-md-7">
            <img src="{{ project.outstanding_image|thumbnail_url:"outstanding" }}" class="img-responsive">
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            {{ project.content|safe }}
        </div>
    </div>
{% endblock %}
