{% load static %}
{% load i18n %}
<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>{% block title %}{% trans "Cuble Desarrollo" %}{% endblock %}</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width">
        {% block meta %}{% endblock meta %}

        <link rel="shortcut icon" href="{% static "favicon.ico" %}" />

        <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
        <link rel="stylesheet" href="{% static "css/normalize.min.css" %}">
        <link rel="stylesheet" href="{% static "css/main.css" %}">

        <link rel="alternate" type="application/rss+xml" title="Cuble Desarrollo &raquo; Feed" href="{% url "blog_feed" %}" />

        <script src="{% static "js/vendor/modernizr-2.6.2-respond-1.1.0.min.js" %}"></script>

    </head>
    <body>
        <!--[if lt IE 7]>
            <p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to improve your experience.</p>
        <![endif]-->
        <div class="half-background"></div>

        {% block body %}

        {% block header %}
        <header class="warp-lead">
            <div class="container">
                <div class="row">
                    <!-- Logo -->
                    <div class="col-md-6">
                        <a href="{% url "landing" %}"><img src="{% static "img/logo.png" %}" /></a>
                    </div>
                    <!-- Menu -->
                    <div class="col-md-6">
                        {% include "blocks/_menu.html" %}
                    </div>
                </div>
            </div>
        </header>
        {% endblock header %}

        {% block claim %}
        <div class="warp-grey">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        {% block claim_content %}{% endblock claim_content %}
                    </div>
                </div>
            </div>
        </div>
        {% endblock claim %}

        {% block main %}
        <div class="warp">
            <div class="container">
                {% block main_content %}{% endblock main_content %}
            </div>
        </div>
        {% endblock main %}

        {% block extra %}{% endblock extra %}

        {% block footer %}
        <footer class="warp">
            <div class="container">
                {% block footer_content %}
                    <div class="row">
                        <div class="col-md-6">
                            {% include "blocks/_menu.html" %}
                        </div>
                        <div class="col-md-6 text-right contact-info">
                            <ul class="clearfix">
                                <li><a href="https://github.com/cubledesarrollo"><i class="fa fa-github"></i></a></li>
                                <li><a href="https://plus.google.com/114449356144896554020/"><i class="fa fa-google-plus-square"></i></a></li>
                                <li><a href="http://www.facebook.com/cuble.es"><i class="fa fa-facebook-square"></i></a></li>
                                <li><a href="https://twitter.com/cuble_es"><i class="fa fa-twitter"></i></a></li>
                            </ul>
                            <p>
                                <a href="mailto:info@cuble.es">info@cuble.es</a>
                                <br/>
                                <a href="tel:+34963211830">96 321 18 30</a>
                            </p>
                        </div>
                    </div>
                {% endblock footer_content %}
            </div>
        </footer>
        {% endblock footer %}

        {% endblock body %}

        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script>
        <script>window.jQuery || document.write('<script src="{% static "js/vendor/jquery-1.10.1.min.js" %}"><\/script>')</script>
        <script src="{% static "js/vendor/jquery.quovolver.js" %}"></script>

        <script src="{% static "js/plugins.js" %}"></script>
        <script src="{% static "js/main.js" %}"></script>

        <script>
            var _gaq=[['_setAccount','UA-XXXXX-X'],['_trackPageview']];
            (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
            g.src='//www.google-analytics.com/ga.js';
            s.parentNode.insertBefore(g,s)}(document,'script'));
        </script>
    </body>
</html>